.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 0 0;
}

.title {
  text-align: center;
  font-size: 80px;
  padding-top: 2%;
  color: #BC6C25;
}

.App Footer {
  text-align: center;
  margin-top: 40px ;
}

.App Footer a {
  color: #BC6C25;
}